<div id="about">
    <div class="arrow">
      <div class="arrowMood"></div>
    </div>
    <div class="contacts">
      <h4>Feito por <br><span>Isabela Baséggio</span></h4>
      <hr />
      <ul id="links">
        <li><a href="https://github.com/IsabelaBaseggio" id="github" alt="github"> /IsabelaBaseggio </a></li>
        <li><a href="https://www.linkedin.com/in/isabelabaseggio/" id="linkedin" alt="linkedin"> /isabelabaseggio </a>
        </div></li></ul>

    </div>
  </div>