<section id="modal">
  <div id="card">
    <div id="head">
      <h2>Confirm delete account</h2>

      <a
        id="close"
        href="/user/<%= user.firstName %><%= user.lastName %>/settings"
        ><i class="material-icons">close</i></a
      >


    </div>
    <hr />

    <p>Do you really want to delete your account?</p>
    <div id="btns">
      <a
        id="btnNot"
        href="/user/<%= user.firstName %><%= user.lastName %>/settings"
        >No</a
      >
      <a id="btnYes" href="">Yes </a>
    </div>
  </div>
</section>
