<section class="message message-<%= type %> message-form">
    <span id="close-message"><i class="material-icons">close</i></span>
    <% messages.forEach( message => { %>
    <p><%= message.text %></p>
    <% }) %>
</section>