<section class="message message-<%= type %> message-<%= typeClass %>">
    <span><i class="material-icons" id="close-message">close</i></span>
    <% messages.forEach( message => { %>
    <p><%= message.text %></p>
    <% }) %>
</section>