<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header id="headerUser">
      <div id="dashboardUser">
        <ul id="navbar">
          <li id="userName"><a href="/user/"></a></li>
          <li><a href="/user/">Settings</a></li>
          <li><a href="" id="logout">Logout</a></li>
        </ul>

        <div id="userHome">
          <p>
            "Through space the universe encompasses and swallows me up like an
            atom; through thought I comprehend the world."
            <span>Blaise Pascal</span>
          </p>
        </div>
      </div>
    </header>

    <section id="icon">
      <div id="iconUser"></div>
    </section>

    <% if(success_msg.length > 0) { %> <%- include('../components/message',
    {type: 'success', messages: success_msg, typeClass: 'alert'}) %> <% } %>

    <script src="/script.js"></script>
  </body>
</html>
