@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Karla", Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100vw;
  height: 100vh;
  background-color: #a7bed3;
}

section#icon {
  display: grid;
  place-items: center;
}

section#icon div#iconMain {
  width: 75%;
  height: 75%;
  background: url("./images/mainLoginSystem.svg") no-repeat center center;
  background-size: contain;
}

main#main {
  background-color: #fff;

  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-items: center;
  align-items: center;
}

main#main h1 {
  width: auto;
  font-weight: 100;
}

main#main ul {
  width: 85%;
  height: auto;
  border-radius: 20px;
  border: 1px solid #adb5bd;
  list-style-type: none;

  display: grid;
}

main#main ul li {
  width: 100%;
  height: 100px;
}

main#main ul li a {
  color: #000;
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;

  transition: all 0.3s ease-in-out;
}

main#main ul li a:hover {
  font-size: 1.6rem;
}
