@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Karla", Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 100vw;
  height: 100vh;
  background-color: #a7bed3;
}

section#icon {
  display: grid;
  place-items: center;
}

section#icon div {
  width: 75%;
  height: 75%;
}

/* Main Icon */
section#icon div#iconMain{
  background: url("./images/mainLoginSystem.svg") no-repeat center center;
  background-size: contain;
}

/* Register Icon*/
section#icon div#iconRegister{
  background: url("./images/register.svg") no-repeat center center;
  background-size: contain;
}

header {
  background-color: #fff;
  padding: 25px;

  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-items: center;
  align-items: center;
}

header h1 {
  width: auto;
  font-weight: 100;
}

/* Main Header */
header#headerMain ul {
  width: 85%;
  height: auto;
  border-radius: 20px;
  border: 1px solid #adb5bd;
  list-style-type: none;

  display: grid;
}

header#headerMain ul li {
  width: 100%;
  height: 100px;
}

header#headerMain ul li a {
  color: #000;
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;

  transition: all 0.3s ease-in-out;
}

header#headerMain ul li a:hover {
  font-size: 1.6rem;
}

/* Register Header */
header#headerRegister div{
  width: 85%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #adb5bd;

  display: grid;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

header#headerRegister div h2{
  width: auto;
  font-weight: 200;
  padding: 10px;
}

header#headerRegister div form{
  width: 100%;

  display: grid;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

header#headerRegister div form label{
  width: 90%;
  margin-top: 15px;
}

header#headerRegister form input{
  width: 90%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #adb5bd;
}