<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Login System</title>
  </head>
  <body>
    <section id="icon">
      <div id="iconRegister"></div>
    </section>

    <header id="headerRegister">
      <h1><a href="/">Login System</a></h1>

      <div>
        <div id="divForm">
          <h2>Sign Up</h2>
          <form action="/register" method="post">
            <% if(messages) { %> <%- include('../components/message', {type:
            type, messages: messages, typeClass: 'form'}) %> <% } %> 

            <% if(values) {%>
            <label for="firstName">First Name</label>
            <input
              type="text"
              name="firstName"
              id="firstName"
              value="<%= values.firstName %>"
            />
            <label for="lastName">Last Name</label>
            <input
              type="text"
              name="lastName"
              id="lastName"
              value="<%= values.lastName %>"
            />
            <label for="email">Email</label>
            <input
              type="text"
              name="email"
              id="email"
              value="<%= values.email %>"
            />

            <% } else { %>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" />
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" />
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
            <% } %>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <button type="submit">Register</button>
          </form>
        </div>

        <div id="refRegisterLogin">
          <span>Already have an account?</span>
          <a href="/login">Sign in</a>
        </div>
      </div>
    </header>

    <script src="/script.js"></script>
  </body>
</html>
