<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Login System</title>
  </head>
  <body>
    <section id="icon">
      <div id="iconReset"></div>
    </section>

    <header id="headerRegister">
      <h1><a href="/">Login System</a></h1>

      <div>
        <div id="divForm" class="resetPassword">
          <h2>Reset Password</h2>

          <form action="/reset" method="post" class="resetPassword">

            <% if(messages) { %> <%- include('../components/message', {type:
            type, messages: messages, typeClass: 'form'}) %> <% } %> 

            <% if(error_msg.length > 0) { %> <%- include('../components/message', {type:
              'danger', messages: error_msg, typeClass: 'form'}) %> <% } %> 

            

            <label for="password">Enter your new password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="New password"
            />
            <label for="password2">Confirm the new password</label>
            <input
              type="password"
              name="password2"
              id="password2"
              placeholder="New password"
            />

            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </header>

    <script src="/script.js"></script>
  </body>
</html>
