<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Login System</title>
  </head>
  <body>
    <section id="icon">
      <div id="iconReset"></div>
    </section>

    <header id="headerRegister">
      <h1><a href="/">Login System</a></h1>

      <div>
        <div id="divForm" class="resetPassword">
          <h2>Reset Password</h2>
          <form action="/reset" method="post" class="resetPassword">
            <% if(messages) { %> <%- include('../components/message', {type:
            type, messages: messages, typeClass: 'form'}) %> <% } %> 

            <% if(error_msg.length > 0) { %> <%- include('../components/message', {type:
              'danger', messages: error_msg, typeClass: 'alert'}) %> <% } %> 

            <label for="email">Enter your registered email address to receive your password reset link</label>
            <% if(values) {%>
            <input
              type="text"
              name="email"
              id="email"
              value="<%= values.email %>"
              placeholder="Email address"
            />

            <% } else { %>
            <input type="text" name="email" id="email"               placeholder="Email address" />
            <% } %>
            <button type="submit">Submit</button>
          </form>
        </div>

        <div id="refRegisterLogin">
          <span>Not yet registered? </span>
          <a href="/register">Sign Up</a>
        </div>
      </div>
    </header>

    <script src="/script.js"></script>
  </body>
</html>
